body {
    margin: 0;
    min-height: 100vh;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

a:hover {
    color: #8f659c;
}

.top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header, .first {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    flex-wrap: wrap;
}

.first-container {
    width: 50%;
}

.first-header {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-bottom: 0;
    line-height: 1em;
}

.first-header-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
    margin-bottom: 10px;
}

button {
    color: #fff;
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 20px;
    height: 50px;
}

.placeholder {
    color: #fff;
    background-color: grey;
    width: 40%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.section-header {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content:center;
    gap: 50px;
    flex-wrap: wrap;
}

.card div {
    border: 1px solid rgb(132, 161, 229);
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    width: 100px;
    height: 100px;
}

.card p {
    width: 100px;
    text-align: center;
}

.bottom-section {
    background-color: #e5e7eb;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-style: italic;
    color: #1f2937;
    padding: 10px;
}

.sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: #4b86d8;
    margin: 50px auto;
    border-radius: 20px;
}

footer {
    background-color: grey;
    text-align: center;
}
